USE [master]
GO
/****** Object:  Database [IssdTP42023]    Script Date: 10/19/2023 8:21:34 PM ******/
CREATE DATABASE [IssdTP42023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IssdTP42023', FILENAME = N'E:\Programacion\Facultad\LP3\MSSQL16.MSSQLSERVER\MSSQL\DATA\IssdTP42023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IssdTP42023_log', FILENAME = N'E:\Programacion\Facultad\LP3\MSSQL16.MSSQLSERVER\MSSQL\DATA\IssdTP42023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IssdTP42023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IssdTP42023]
GO
/****** Object:  Table [dbo].[Automoviles]    Script Date: 10/19/2023 8:21:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automoviles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](100) NULL,
	[idAutomovilMarca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutomovilMarcas]    Script Date: 10/19/2023 8:21:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutomovilMarcas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Automoviles] ON 

INSERT [dbo].[Automoviles] ([id], [modelo], [idAutomovilMarca]) VALUES (4, N'Pato', 1)
INSERT [dbo].[Automoviles] ([id], [modelo], [idAutomovilMarca]) VALUES (5, N'Pato2', 1)
INSERT [dbo].[Automoviles] ([id], [modelo], [idAutomovilMarca]) VALUES (6, N'Pato3', 1)
SET IDENTITY_INSERT [dbo].[Automoviles] OFF
GO
SET IDENTITY_INSERT [dbo].[AutomovilMarcas] ON 

INSERT [dbo].[AutomovilMarcas] ([id], [nombre]) VALUES (1, N'Toyota')
INSERT [dbo].[AutomovilMarcas] ([id], [nombre]) VALUES (3, N'Subaru')
INSERT [dbo].[AutomovilMarcas] ([id], [nombre]) VALUES (4, N'Fiat')
SET IDENTITY_INSERT [dbo].[AutomovilMarcas] OFF
GO
ALTER TABLE [dbo].[Automoviles]  WITH CHECK ADD  CONSTRAINT [FK_Automoviles_AutomovilMarcas] FOREIGN KEY([idAutomovilMarca])
REFERENCES [dbo].[AutomovilMarcas] ([id])
GO
ALTER TABLE [dbo].[Automoviles] CHECK CONSTRAINT [FK_Automoviles_AutomovilMarcas]
GO
USE [master]
GO
